@charset "UTF-8";

body {
    background-color: #404040;
}

footer {
    margin-top: 50px;
    height: 10px;
    border-top: 1px solid white;
}

#nav-tabContent {
    background-color: lightgray;
}

#nav-tab {
    background-color: lightgray;
}

#arvore {
    background-color: white;
}

#arvore02 {
    background-color: white;
}
